<h1 class="pb-30">Add a restaurant</h1>
<div class="container">
  <div class="container-form">
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, placeholder: 'Choose between chinese, french, italian, belgian and japanese'  %>
    <%= f.input :phone_number %>
    <%= f.button :submit %>
  <% end %>
  </div>
</div>
