<div id="banner-restaurant">
  <h1><%= @restaurant.name %></h1>
</div>

<ul>
  <li>
    <%= @restaurant.address %>
  </li>
   <li>
    <%= @restaurant.category.capitalize() %>
  </li>
   <li>
    <% if @restaurant.phone_number == ("") %>
      Sorry, we don't have the phone number
    <% else %>
      <%= @restaurant.phone_number %>
    <% end %>
  </li>
  <li>
    <%= link_to restaurants_path do%>
      <i class="fa-solid fa-angles-left"></i>Return
    <% end %>
  </li>
   <li>
    <%= link_to new_restaurant_review_path(@restaurant) do%>
      <i class="fa-solid fa-plus"></i>Leave a review
    <% end %>
  </li>
</ul>

<ul>
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
  <li>
      <%= "#{review.rating}- #{review.content}" %>
    <% end %>
  </li>
</ul>
