<div id="banner-restaurant">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="container">
  <div class="infos">
  <p>
    <%= @restaurant.address %> <br>
    <%= @restaurant.category.capitalize() %> <br>
    <% if @restaurant.phone_number == ("") %>
      Sorry, we don't have the phone number
    <% else %>
      <%= @restaurant.phone_number %>
    <% end %>
  </p>
  </div>

<div class="container-review">
  <div class="reviews">
    <div class="review-head">
      <h2>Reviews</h2>
    </div>
    <div class="review-head">
        <%= link_to new_restaurant_review_path(@restaurant) do%>
          <i class="fa-solid fa-plus pr-10"></i>
          <span class="display-n">Leave a review</span>
        <% end %>
    </div>
    </div>
      <p>
      <% @restaurant.reviews.each do |review| %>
        <%= "#{review.rating}/5- #{review.content.capitalize()}" %> <br>
      <% end %>
      </p>
  </div>
</div>

<div id="footer">
    <%= link_to restaurants_path do%>
      <i class="fa-solid fa-angles-left pr-10"></i>Return
    <% end %>
</div>
